<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Introducción a sass/scss, compass y Jade
    link(rel="stylesheet", href="dist/css/main.css")
  body
    header
      .header-left
        a.brand(href="http://www.rokk3rlabs.com/") Rokk3rlabs <small>meetup</small>
      .header-right
        nav
          a(href="https://github.com/gatodeveloper/sass-jade", target="_blank") View on Github
    section#content
      h1 Introducción a sass/scss, compass y jade
      include ./examples/gradients
      

    footer Built with love - Mayo 2016